@import "components/mixins";

body{
    @include clear; 
}

h1, h2, h3,h4, h5, h6, p,ul, li,label{
    @include clear;
}

li{
    list-style: none;
}

a{
    color: black;
}

h1{
    opacity: 0.3;
    font-size: 70px;
    padding: 10px 0 20px 0;
}

input[type="text"]{
    border: none;

    &:focus{
        outline: none;
    }
}

label{
    width: 380px;
    padding: 10px 10px 10px 8px;
    overflow: hidden;
}

#new-task{
    height: 50px;
    width: 300px;
}

#clear-completed{
    color: black;
    cursor: pointer;
    
    &:hover{
        text-decoration: underline !important;
        color: blue;
    }
}

#add{

    &:focus{
        outline: none;
    }
}

.list{
    
    .delete{
        width: 25px;
        height: 25px;
        margin-left: 10px;
        background: url(img/icon_delete.png) no-repeat;
        background-size: 25px, 25px;
        opacity: 0.5;

        &:hover{
            opacity: 1;
            cursor: pointer;
        }
    }
}

.main{
    &-add-task{
        width: 440px;
    }

    & input[type="submit"]{
        width: 95px;
        height: 40px;
    }

    &-all-checkbox{
        width: 32px;
        height: 32px;
        margin-right: 10px;
        background: url(img/arrow-down.png) no-repeat -5px 0;
        opacity: 0.3;
    
        &-marker{
            opacity: 1;
        }
    
        &:hover{
            cursor: pointer;
        }
        
    }
}

input[name="todo"]{
    width: 380px;
    display: none;
    padding: 10px 10px 10px 8px;
}

.line-through{
    text-decoration: line-through;
    opacity: 0.5;
}

.edit{

    & input[name="todo"]{
        display: block;
    }

    & label{
        display: none;
    }
}
.line{
    border-bottom: 2px solid rgba(0,0,0,0.3);
    padding: 1px 0;

    & input[type="checkbox"]{
        width: 15px;
        height: 15px;
    }
}

.footer{
    padding: 20px 0;

    &-counters{
        width: 430px;
        padding: 10px 5px;
        background-color: lightgray;
    }

    &-buttons{
        padding: 10px 5px;
        width: 430px;
        background-color: lightgray;
    }
}

.current-page{
    color: blue;
    text-decoration: none !important;
    cursor: text;
}

.paginator{
    padding: 20px 0;
    
}